<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.EmpMapper">

    <resultMap id="BaseResultMap" type="entities.Emp">
        <result column="emp_id" property="empId" jdbcType="INTEGER" />
        <result column="emp_no" property="empNo" jdbcType="INTEGER" />
        <result column="emp_name" property="empName" jdbcType="VARCHAR" />
        <result column="emp_email" property="empEmail" jdbcType="VARCHAR" />
        <result column="emp_phone_number" property="empPhoneNumber" jdbcType="INTEGER" />
    </resultMap>



    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer">
      SELECT
       emp_no ,
       emp_id ,
       emp_phone_number ,
       emp_email ,
       emp_name
      FROM emp
      WHERE emp_id =${empId}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
      SELECT
       emp_no ,
       emp_id ,
       emp_phone_number ,
       emp_email ,
       emp_name
      FROM emp
    </select>
    <update id="set"  parameterType="entities.Emp">
      UPDATE
      SET emp_phone_number = #{empPhoneNumber},
          emp_name = #{empName},
          emp_email = #{empEmail}
      WHERE emp_id = #{empId}
    </update>
</mapper>